<div class="search-cover">
<div class="panel search-rect">
  <div class="panel-heading">

<div class="input-group search">
  <div class="input-control search-box search-box-circle has-icon-left has-icon-right search-example" id="searchboxExample">
    <input id="inputSearchExample3" autocomplete="off" oninput="searchPost()" type="search" class="form-control search-input" placeholder="搜索...">
    <label for="inputSearchExample3" class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
  </div>
  <span class="input-group-btn">
    <button class="btn" onclick="closeSearch()"><i class="icon icon-times"></i></button>
  </span>
</div>

  </div>
  <div class="panel-body">
<ul class="search-ul">

</ul>
<p class="no-search-result">无搜索结果</p>
<p class="searching">搜索中...</p>
  </div>
</div>
</div>